.DayTabs-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-top: 1px solid var(--bg-grey);
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.DayTabs-wrapper::-webkit-scrollbar {
    display: none;
}