.DayTab {
    font-family: 'Nunito', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8em 0;
    flex: 1 0 0%;
    min-width: 100px;
    border-style: none;
    border-right: 1px solid var(--bg-grey);
    background-color: #FFF;
    outline: none;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.DayTab:last-child {
    border-right-width: 0;
}

.DayTab:hover {
    background-color: var(--light-grey);
}

.DayTab--selected::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    width: 100%;
    height: 5px;
    background: var(--fill-highlight);
}

.DayTab__name {
    font-weight: 600;
    margin-bottom: 0.2rem;
}

.DayTab__icon {
    width: 50px;
    display: inline;
    margin: -0.4rem 0rem -0.4rem -0.4rem;
}

.DayTab__temp {
    font-weight: 400;
    display: inline;
}