.container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid var(--bg-grey);
    overflow: hidden;
    animation: opacity 0.5s ease-in-out 0s 1 normal forwards;
}

.container > div {
    display: flex;
    align-items: center;
    grid-column-gap: 0.3rem;
}

.icon {
    height: 0.8rem;
    margin: 0 0.2rem 0.2rem 0;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}