.HourDataEnd {
    display: flex;
    align-items: center;
    border-left: 1px solid var(--bg-grey);
    padding: 0 1em;
    height: 100%;
    min-width: 200px;
    flex: 1 0 auto;
    background-color: var(--light-grey);
}