.HourForecast {
    display: flex;
    overflow-x: scroll;
    height: 170px;
    width: 100%;
    padding: 0 1.5em;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.HourForecast::-webkit-scrollbar {
    display: none;
}