.container {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem 1rem 0.5rem;
    grid-column-gap: 1.5rem;
    overflow-x: scroll;
    animation: opacity 0.5s ease-in-out 0s 1 normal forwards;
    scrollbar-width: none;  /* Firefox */
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container::-webkit-scrollbar { /* Chrome */
    display: none;
}