:root {
    --icon-height: 0.9rem;
}

.locationControls {
    display: flex;
    justify-content: center;
    background-color: var(--light-grey);
    border-bottom: 1px solid var(--bg-grey);
    height: 2.2rem;
}

.button {
    padding: 0 1.5rem;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

.button:hover {
    background-color: var(--bg-grey);
}

img.tempUnitC {
    height: var(--icon-height);
    content: url("../images/temp-icon-c.svg");
}

img.tempUnitF {
    height: var(--icon-height);
    content: url("../images/temp-icon-f.svg");
}

img.expandButton {
    height: var(--icon-height);
    content: url("../images/expand-button.svg");
}

img.compressButton {
    height: var(--icon-height);
    content: url("../images/compress-button.svg");
}

.removeButton {
    height: var(--icon-height);
    content: url("../images/remove-button.svg");
}

@keyframes test {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.slideup {
    animation: test 0.3s ease 0s 1 normal;
    /* animation-name: slide-up;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-direction: normal; */
}