#SearchSuggestions {
    position: absolute;
    top: 185px;
    width: min(80vw, 380px);
    max-height: 117px;
    overflow-y: auto;
    box-shadow: 0 5px 10px rgba(0,0,0,0.10);
    z-index: 2;
    border-radius: var(--border-radius);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#SearchSuggestions li {
    list-style-type: none;
    border-bottom: 1px solid var(--bg-grey);
    padding: 0.5rem 1rem;
    background-color: white;
    cursor: pointer;
}

#SearchSuggestions li:hover {
    background-color: var(--light-grey);
}

#SearchSuggestions li.selected {
    background-color: var(--bg-grey);
}

#SearchSuggestions li.selected:hover {
    background-color: var(--bg-grey);
}

#SearchSuggestions::-webkit-scrollbar {
    display: none;
}