@import url('../css/global.css');

body {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 5rem;
    color: #EC6E4C;
}